*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

/*
grid implementation later?
*/

.header-nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: rgb(155, 155, 155);
}




.fc-formpreviews{
    display: grid;
    border: 2px solid yellow;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
   
}

.fc-box{
    text-align: center;
    border: solid;
    border-width: 0.2em;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    
}

.content{
    display: flex;
    justify-content: space-evenly;
}