/*Global Styling and Body */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(183, 208, 255);
}

.hidden {
    display: none;
}
#audioB{
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(227, 198, 253);
}

.main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

/*
grid implementation later?
*/

/* Header */

.header-nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: rgb(155, 155, 155);
}

.fc-mainpage{
    font-family: 'Inter', sans-serif;
}

.pageTitle{
    text-align: center;
    font-size: medium;
}

/* Div: preview container */ 
.fc-formpreviews{
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.fc-link {
    display: block;
}

/* Boxes */
.fc-box{
    text-align: center;
    border: solid;
    border-width: 0.2em;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    min-width: 1rem;
    max-width: 25rem;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 10vh;
}

.expander{
    background: transparent;
    border-width: 0;
    padding: 0;
}

.expandText{
    display: block;
}
.expandText:hover, .closeText:hover{
    background-color: rgb(128, 44, 224);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.expandedText, .closeText{
    display: none;
}

/* Form Template */
.formContainer{
    max-width: 35rem;
    margin: 5 auto;
    background-color: #fff;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
}

.formInfo{
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formTitle{
    padding-left: 0.5em;
}

#descText{
    text-align: center;
}

label{
    display: inline-block;
    font-size: large;
}

input[type=text]{
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
}

/* Form Specific: Audio Form */
button[type=submit]{
    margin: 1.5em;
    height: 2em;
    
    border-radius: 8px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.side{
    display: grid; /*Using a grid layout to represent a side by side illusion*/
    grid-template-columns: 1fr 1fr;
}

input.input-L {
    width: 70%;
    max-width: 20em;
}

input.input-R {
    width: 65%;
    max-width: 20em;
}

hr{
    width: 50%;
}


